!!!
%html
  %head
    %link{:href => "/stylesheets/blog.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/index.xml", :rel => "alternate", :title => "#{title} - feed", :type => "application/atom+xml"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:description => description}
    %meta{:keywords => keywords}
    %title= title
  %body
    %h1.blog_name=  'Startuplab.co blog'
    = yield
  %footer
    %a{:href => '/blog'}back to index »
    %br/
    powered by
    %a{:href => "http://github.com/danpal/toto-bongo"} toto-bongo
    :javascript

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-23834897-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();



