/*----------------------------------------------------
 * Globals
 *----------------------------------------------------

$general-font: 'Lucida Grande',Verdana,sans-serif
$h1-font: "minion-pro-1","minion-pro-2","Times New Roman",Georgia,serif
$background-color: #222
$background-content-color: #F9F9F9
$nav-links-back-color: #315F8D
$link_color: #E7E7E7
$tag-line-color: #97D415

/*----------------------------------------------------
 * Mixins
 *----------------------------------------------------


@mixin rounded($radius: 5px)
  -moz-border-radius: $radius
  -khtml-border-radius: $radius
  -webkit-border-radius: $radius
  border-radius: $radius

@mixin rounded_bottom($radius: 5px)
  -moz-border-radius-bottomleft: $radius
  -khtml-border-radius-bottomleft: $radius
  -webkit-border-bottom-left-radius: $radius
  border-radius-bottomleft: $radius
  -moz-border-radius-bottomright: $radius
  -khtml-border-radius-bottomright: $radius
  -webkit-border-bottom-right-radius: $radius
  border-radius-bottomright: $radius


@mixin shadow($color, $x: 0, $y: 0px, $width: 10px)
  -moz-box-shadow: $x $y $width $color
  -webkit-box-shadow: $x $y $width $color
  box-shadow: $x $y $width $color

@mixin gradient-background($image_path)
  background-image: url($image_path)
  background-repeat: repeat-x 

/*----------------------------------------------------
 * General
 *----------------------------------------------------
ol
  list-style: none

ul 
  list-style: none

h1
  font-family: $h1-font
.clear
  clear: both

A:link 
  text-decoration: none

A:visited 
  text-decoration: none

A:active 
  text-decoration: none

A:hover 
  text-decoration: none
  color: white


/*----------------------------------------------------
 * Container, wraps everything
 *----------------------------------------------------
body
  background: none repeat scroll $background-color
  font-family: $general-font
  margin: 0 auto
  
.container
  width: 960px
  background: none repeat scroll $background-color
  margin: 0 auto


/*----------------------------------------------------
 * Header
 *----------------------------------------------------
.header
  
  height: 160px

  nav.utility
    float: right
    width: 555px
    margin-top: 90px

    ul
      padding: 0
      text-align: right

    li
      font-size: 16px
      color: $link-color
      font-weight: bold
      display: inline
      margin-left: 18px

    li a:visited
      color: $link-color
    li a:hover
      color: #ccc



.logo
  width: 230px
  float: left

.tag_line
  font-size: 13px
  display: block
  color: $tag-line-color
  font-style: normal
  line-height: 0px
  margin-left: 13px



/*----------------------------------------------------
 * Content containter
 *----------------------------------------------------

.content

  padding: 5px 0 90px 40px
  background: none repeat scroll $background-content-color
  @include rounded(5px)


/*----------------------------------------------------
 * Sign in / Register
 *----------------------------------------------------

.login
  h1
    text-align: center
    font-size: 22px
  p
    text-align: center

.login_options
  padding-left: 255px
  li
    display: inline
    padding-left: 15px

/*----------------------------------------------------
 * display container, used to display data
 *----------------------------------------------------

.display_container

  font-family: "arial, sans-serif"

  h1
    font-size: 58px
    margin-bottom: 10px
    text-align: center
    letter-spacing: -2px
    color: #232323
  ul
    list-style-type: none
    padding: 0px

  li
    margin: 20px 0 5px 0


li.title
  font-style: italic
  font-weight: bold
  font-size: 25px
  

p.value
  font-size: 16px
  padding: 8px 0px 20px 25px
  

      
/*----------------------------------------------------
 *Error messages
 *----------------------------------------------------

#error_explanation
  border: 2px solid red
  @include rounded(4px)
  h2
    color: red
    margin-top: 8px
    padding-left: 10px

.field_with_errors
  label
    color: red !important

ul li.errors
  color: #cc0000
  margin: 0.1em 0 0 5%
  list-style: square

.error, .alert, .notice, .success, .info
  padding: 0.8em
  margin-bottom: 1em
  border: 2px solid #ddd

.error, .alert
  background: #CC0000
  color: #F2E1E1
  border-color: #6B0000
  text-align: center
  font-weight: bold
  font-size: 18px

.notice
  background: #F2EA93
  color: #3A3824
  border-color: #CEBC18
  text-align: center
  font-weight: bold
  font-size: 18px

.success
  background: #8DAE31
  color: white
  border-color: #638206
  font-size: 18px
  text-align: center
  font-weight: bold


.info
  background: #d5edf8
  color: #205791
  border-color: #92cae4

.error a, .alert a
  color: #8a1f11

.notice a
  color: #514721

.success a
  color: #264409

.info a
  color: #205791


/*----------------------------------------------------
 * Footer
 *----------------------------------------------------


.footer
  height: 10em

  nav.utility
    ul
      text-align: center
      padding: 0
    
    li
      font-size: 13px
      color: $link-color
      font-weight: bold
      display: inline
      margin: 3px 15px 3px 3px
    
    li a:visited
      color: $link-color
    li a:hover
      color: #ccc

.copyright
  padding: 15px
  color: #000  
  font-size: 10px
  line-height: 1.4em
  text-align: center

