/*----------------------------------------------------
 * Globals
 *---------------------------------------------------- */
/*----------------------------------------------------
 * Mixins
 *---------------------------------------------------- */
/*----------------------------------------------------
 * General
 *---------------------------------------------------- */
ol {
  list-style: none; }

ul {
  list-style: none; }

h1 {
  font-family: "minion-pro-1", "minion-pro-2", "Times New Roman", Georgia, serif; }

.clear {
  clear: both; }

A:link {
  text-decoration: none; }

A:visited {
  text-decoration: none; }

A:active {
  text-decoration: none; }

A:hover {
  text-decoration: none; }

/*----------------------------------------------------
 * Container, wraps everything
 *---------------------------------------------------- */
body {
  background: none repeat scroll #222222;
  font-family: "Lucida Grande", Verdana, sans-serif;
  margin: 0 auto; }

.container {
  width: 960px;
  background: none repeat scroll #222222;
  margin: 0 auto; }

/*----------------------------------------------------
 * Header
 *---------------------------------------------------- */
.header {
  height: 120px; }
  .header nav.utility {
    float: right;
    width: 555px;
    margin-top: 50px; }
    .header nav.utility ul {
      padding: 0;
      text-align: right; }
    .header nav.utility li {
      font-size: 16px;
      color: #e7e7e7;
      font-weight: bold;
      display: inline;
      margin-left: 18px; }
    .header nav.utility li a:visited {
      color: #e7e7e7; }
    .header nav.utility li a:hover {
      color: #cccccc; }

.logo {
  width: 230px;
  float: left; }

.tag_line {
  font-size: 15px;
  display: block;
  color: #53d4ff;
  font-style: normal;
  line-height: 2px; }

/*----------------------------------------------------
 * Content containter
 *---------------------------------------------------- */
.content {
  padding: 5px 0 90px 40px;
  background: none repeat scroll #f9f9f9;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

/*----------------------------------------------------
 * Sign in / Register
 *---------------------------------------------------- */
.login h1 {
  text-align: center;
  font-size: 22px; }
.login p {
  text-align: center; }

.login_options {
  padding-left: 255px; }
  .login_options li {
    display: inline;
    padding-left: 15px; }

/*----------------------------------------------------
 * display container, used to display data
 *---------------------------------------------------- */
.display_container {
  font-family: "arial, sans-serif"; }
  .display_container h1 {
    font-size: 58px;
    margin-bottom: 10px;
    text-align: center;
    letter-spacing: -2px;
    color: #232323; }
  .display_container ul {
    list-style-type: none;
    padding: 0px; }
  .display_container li {
    margin: 20px 0 5px 0; }

li.title {
  font-style: italic;
  font-weight: bold;
  font-size: 25px; }

p.value {
  font-size: 16px;
  padding: 8px 0px 0px 25px; }

.value ol {
  list-style-type: decimal;
  padding-left: 45px; }
.value li {
  margin-top: 8px; }

/*----------------------------------------------------
 *Error messages
 *---------------------------------------------------- */
#error_explanation {
  border: 2px solid red;
  -moz-border-radius: 4px;
  -khtml-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }
  #error_explanation h2 {
    color: red;
    margin-top: 8px;
    padding-left: 10px; }

.field_with_errors label {
  color: red !important; }

ul li.errors {
  color: #cc0000;
  margin: 0.1em 0 0 5%;
  list-style: square; }

.error, .alert, .notice, .success, .info {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd; }

.error, .alert {
  background: #cc0000;
  color: #f2e1e1;
  border-color: #6b0000;
  text-align: center;
  font-weight: bold;
  font-size: 18px; }

.notice {
  background: #f2ea93;
  color: #3a3824;
  border-color: #cebc18;
  text-align: center;
  font-weight: bold;
  font-size: 18px; }

.success {
  background: #8dae31;
  color: white;
  border-color: #638206;
  font-size: 18px;
  text-align: center;
  font-weight: bold; }

.info {
  background: #d5edf8;
  color: #205791;
  border-color: #92cae4; }

.error a, .alert a {
  color: #8a1f11; }

.notice a {
  color: #514721; }

.success a {
  color: #264409; }

.info a {
  color: #205791; }

/*----------------------------------------------------
 * Footer
 *---------------------------------------------------- */
.footer {
  height: 10em; }
  .footer nav.utility ul {
    text-align: center;
    padding: 0; }
  .footer nav.utility li {
    font-size: 13px;
    color: #e7e7e7;
    font-weight: bold;
    display: inline;
    margin: 3px 15px 3px 3px; }
  .footer nav.utility li a:visited {
    color: #e7e7e7; }
  .footer nav.utility li a:hover {
    color: #cccccc; }

.copyright {
  padding: 15px;
  color: #bbbbbb;
  font-size: 10px;
  line-height: 1.4em;
  text-align: center; }
