/*----------------------------------------------------
 * Globals
 *---------------------------------------------------- */
/*----------------------------------------------------
 * Mixins
 *---------------------------------------------------- */
/*----------------------------------------------------
 * General
 *---------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
  font-family: "minion-pro-1", "minion-pro-2", "Times New Roman", Georgia, serif;
  color: #2d2d2d; }

.clear {
  clear: both; }

A:link {
  text-decoration: none; }

A:visited {
  text-decoration: none; }

A:active {
  text-decoration: none; }

A:hover {
  text-decoration: none; }

.strong {
  font-weight: bold; }

.italic {
  font-style: italic; }

.normal {
  font-style: normal; }

p {
  color: #3f3f3f; }

/*----------------------------------------------------
 * Container, wraps everything
 *--------------------------------------------------- */
body {
  font-family: "Lucida Grande", Verdana, sans-serif;
  width: 960px;
  background: none repeat scroll #f1f1f1; }

.left_side_push {
  float: left;
  width: 80px;
  height: 200em;
  margin-top: -10px;
  margin-left: -6px;
  background: none repeat scroll #e1e1e1; }

.container {
  margin-left: 74px;
  width: 886px;
  padding: 0px 0px 90px 20px;
  background: none repeat scroll #f1f1f1; }

/*----------------------------------------------------
 * Header
 *---------------------------------------------------- */
.header {
  height: 130px; }
  .header nav.utility {
    float: right;
    width: 555px;
    margin-top: 47px; }
    .header nav.utility ul {
      padding: 0;
      text-align: right; }
    .header nav.utility li {
      font-size: 16px;
      color: #555555;
      font-weight: bold;
      display: inline;
      margin-left: 18px; }
    .header nav.utility li a {
      color: #555555; }
    .header nav.utility li a:visited {
      color: #555555; }
    .header nav.utility li a:hover {
      color: #444444; }

.logo {
  width: 240px;
  float: left; }

.tag_line {
  font-size: 15px;
  display: block;
  color: #4492bb;
  font-style: normal;
  line-height: 2px; }

/*----------------------------------------------------
 * Content container
 *---------------------------------------------------- */
.content_container {
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

/*----------------------------------------------------
 * Sign in / Register
 *---------------------------------------------------- */
.login h1 {
  text-align: center;
  font-size: 22px; }
.login p {
  text-align: center; }

.login_options {
  padding-left: 255px; }
  .login_options li {
    display: inline;
    padding-left: 15px; }

/*----------------------------------------------------
 *index
 *---------------------------------------------------- */
.index_column_left {
  float: left;
  width: 350px;
  padding-left: 70px;
  padding-top: 125px; }
  .index_column_left p {
    font-size: 12px;
    font-family: "Verdana"; }
  .index_column_left ul {
    margin-top: -3px;
    padding-left: 60px; }
  .index_column_left li {
    display: inline;
    font-size: 13px; }
  .index_column_left li a {
    color: #ff0033; }
  .index_column_left li a:visited {
    color: #ff0033; }
  .index_column_left li a:hover {
    color: #444444; }

.index_column_right img {
  padding: 110px 0px 0px 35px; }

/*----------------------------------------------------
 * display container, used to display data
 *---------------------------------------------------- */
.display_container {
  font-family: "arial, sans-serif"; }
  .display_container h1 {
    font-size: 58px;
    text-align: center;
    letter-spacing: -2px;
    color: #2d2d2d;
    margin: 0; }
  .display_container ul {
    list-style-type: none;
    padding: 0px;
    margin-top: 50px; }
  .display_container ol {
    list-style-position: inside;
    padding: 0px; }
  .display_container li {
    margin: 20px 0 5px 0; }
  .display_container h2 {
    text-align: center;
    color: #666666;
    font-size: 18px;
    margin: 0px; }

li.title {
  font-style: italic;
  font-weight: bold;
  font-size: 25px;
  color: #3a3a3a; }

p.value {
  font-size: 16px;
  padding: 8px 0px 0px 25px; }

.value ol {
  list-style-type: decimal;
  padding-left: 25px; }
.value li {
  margin-top: 8px; }

/*----------------------------------------------------
 *Forms
 *---------------------------------------------------- */
.field label {
  font-weight: bold; }
.field input {
  margin: 12px;
  width: 315px; }
.field p {
  font-style: italic;
  font-size: 12px;
  margin-top: 2px;
  margin-bottom: -20px; }
.field textarea {
  width: 860px;
  height: 500px;
  margin: 12px;
  overflow: auto; }

.actions {
  text-align: center; }
  .actions input {
    width: auto; }

/*----------------------------------------------------
 * Buttons
 * This requires the buttons.png file
 * after just ad the class button to make the button gree
 * or add button + button_[color] to make any other color
 *
 *---------------------------------------------------- */
.button {
  -moz-border-radius: 7px;
  -khtml-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  background: url("/images/buttons/buttons.png"), repeat-x scroll 0 0 transparent;
  border: 1px solid #85aa40;
  color: white;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  height: 42px;
  text-align: center;
  font-family: Arial, Helvetica, Tahoma;
  text-shadow: 0 -1px 1px #797979;
  width: auto; }
  .button:hover {
    box-shadow: 0 0 6px #b9b9b9; }
  .button:active {
    background-color: #748e2b;
    background-image: none;
    color: #eeeeee !important; }

.button_blue {
  background-position: 0 -42px !important;
  border-color: #679bbc !important; }
  .button_blue:active {
    background-color: #4689bb; }

.button_orange {
  background-position: 0 -126px !important;
  border-color: #fc8300 !important; }
  .button_orange:active {
    background-color: #d07a1d; }

.button_red {
  background-position: 0 -168px !important;
  border-color: #c63e3c !important; }
  .button_red:active {
    background-color: #d43937; }

.button_pink {
  background-position: 0 -210px !important;
  border-color: #bf0265 !important; }
  .button_pink:active {
    background-color: #ed1d89; }

/*----------------------------------------------------
 *Error messages
 *---------------------------------------------------- */
#error_explanation {
  border: 2px solid red;
  -moz-border-radius: 4px;
  -khtml-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }
  #error_explanation h2 {
    color: red;
    margin-top: 8px;
    padding-left: 10px; }

.field_with_errors label {
  color: red !important; }

ul li.errors {
  color: #cc0000;
  margin: 0.1em 0 0 5%;
  list-style: square; }

.error, .alert, .notice, .success, .info {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd; }

.error, .alert {
  background: #cc0000;
  color: #f2e1e1;
  border-color: #6b0000;
  text-align: center;
  font-weight: bold;
  font-size: 18px; }

.notice {
  background: #f2ea93;
  color: #3a3824;
  border-color: #cebc18;
  text-align: center;
  font-weight: bold;
  font-size: 18px; }

.success {
  background: #8dae31;
  color: white;
  border-color: #638206;
  font-size: 18px;
  text-align: center;
  font-weight: bold; }

.info {
  background: #d5edf8;
  color: #205791;
  border-color: #92cae4; }

.error a, .alert a {
  color: #8a1f11; }

.notice a {
  color: #514721; }

.success a {
  color: #264409; }

.info a {
  color: #205791; }

/*----------------------------------------------------
 * Footer
 *---------------------------------------------------- */
.badges {
  padding: 5px 0px 0px 60px; }

.badge_image {
  padding: 0 10px 0 0px; }

.footer {
  margin-left: 74px;
  width: 940px;
  height: 25em;
  background: none repeat scroll #222222;
  margin-top: 7em; }
  .footer p {
    text-align: center;
    padding-top: 20px; }
  .footer nav.utility ul {
    padding: 20px;
    text-align: center; }
  .footer nav.utility li {
    font-size: 14px;
    color: #cccccc;
    font-weight: bold;
    display: inline;
    margin: 3px 15px 3px 3px; }
  .footer nav.utility li a {
    color: #cccccc; }
  .footer nav.utility li a:visited {
    color: #cccccc; }
  .footer nav.utility li a:hover {
    color: #cccccc; }

.copyright {
  padding-left: 20px;
  color: #dddddd;
  font-size: 12px;
  line-height: 1.4em; }
