.display_container
  %h1 About
  %p
    Startuplab.co was founded in May 2011 in Bogota, Colombia, seeking to 
    promote tech entrepeneurship in Colombia. Our aim is to place Colombia
    in the world tech entrepeneur map. We provide space, funding, ongoing
    events and mentorship in an unique coworing environment.

  %ul
    %li.title Team
    %ul.team
      %li.person
        =image_tag ('/images/partners/danielpalacio.png')
        %h3 Daniel Palacio
        %h4 Founder
        %p
          Graduated from Purdue University with a bachelor in Computer Science
          and a Minor in Management, he is the founder of Startuplab.co. Besides
          startuplab.co he is the founder of www.getcardeal.com.
          He is currently attending Founder Labs NY (founderlabs.org) as a participant.
        =image_tag ('/images/partners/danielpalacio.png')
        %h3 Eduardo Enciso
        %h4 Partner
        %p
          instert here description
