.display_container
  %h1 About
  %ul

    %li.title Why ?
    %p.value
      After visiting and working for a couple of weeks at generalassemb.ly in New York, I decided that Bogota needed
      a place were startup entrepeneur's could work day and night with a startup friendly atmosphere. Startuplab is 
      all about creating the proper environment were tech startups can thrive.

    %li.title When ?
    %p.value
      Startuplab.co was started on May 2011.

    %li.title Where ?
    %p.value
      Startuplab.co is located in Bogota, Colombia on what we beleive is the friendlist startup location in Bogota.

    %li.title Who ?
    %p.value
      Startuplab.co was founded by Daniel Palacio. Our current collaborators are Eduardo Enciso.



