.display_container
  %h1 Application
  %h2 Apply to work from Startuplab.co ( Monthly cost is CO$300,000 **No exceptions** )
  %ul
    %li.title How to apply
    %p.value
      %span
        We are building an online application form, in the meantime please send an e-mail to:
      %br/
      %stan.strong
        contact@startuplab.co answering the following questions.
    .value
      %ol
        %li Who are you ?
        %li What do you want to accomplish in Startuplab.co ?
        %li What have you accomplished so far ? What are you most proud of ?
        %li Include links to your Facebook, Linked-in, Twitter, and Github accounts if you have any.

