.display_container
  %h1 Companies
  %h2 Here is a list of some of our non-stealth companies working at Startuplab.co
  %ul
    %li.title= link_to image_tag('/images/companies/getcardeal.png'), 'http://www.getcardeal.com'
    %p.value 
      Getcardeal is the groupon for new cars. Launched in May 2011, its focusing 
      on helping cardealers and importers to better position there brand through 
      social networking sites.
      
