.display_container
  %h1 Contact Us
  %ul
    %li.title Inquiries
    %p.value
      %span Email us, we usually answer within a few hours.
      %br/
      %span.strong Email: contact@startuplab.co
    
    %li.title Address
    %p.value 
      Address: 
      %span.strong CRA 12 # 79-08 Of: 503
      %br/
      We are a few blocks from Atlantis Plaza so you can park there 
      if you want to.

    %li.title Map
    %p Map coming soon
