.display_container
  %h1 FAQ
  %h2 If you can't find the answer please contact us
  %ul
    %li.title What is Startuplab.co ?
    %p.value 
      Startuplab.co is a non-profit community space for tech startups, with focus on
      web and mobile. We offer a great office, at an awesome location along
      with mentorship, events, coworking and if necessary seed stage investment.

    %li.title Where are you located ?
    %p.value 
      Our specific address is CRA 12 #79-08 of 503. We are about 4 blocks away from
      Atlantis Plaza. Our surrounding include lots of cafes and restaurants.  

    %li.title How can I work at Startuplab.co ?
    %p.value
      We have a limited number of spaces, if you would like to work here please
      contact us to set-up an in person interview. 

    %li.title How much does it cost
    %p.value
      Monthly price per seat is CO$300,000. This price is non-negotiable and it's used
      to pay the office expenses. We want to treat everyone equally so everyone, including 
      volunteers and mentors have to pay the same, no exceptions.

    %li.title If you are non-profit why do you charge ?
    %p.value
      We only charge to cover the office costs, this is why our price is so low. And even if
      we could get sponsors to cover the office costs, we would still charge a small premium
      to maintain quality, truth is people don't value free things.
      Look, Startuplab.co is here to help you,  with your monthly contributions we become
      self-sustainable. You want to work in a nice clean space don't you ? So do us, thats
      why we need to charge.

    %li.title What is the criteria to work in Startuplab.co ?
    %p.value
      We only accept people working on startups in the web or mobile space, although we are open
      to other ideas. However to preserve and create a really environment for this kind of startups
      we cant not accept consulting companies or any other non-tech startups.

    %li.title I am looking for seed funding, what do I have to do ?
    %p.value
      We can invest anywere between US$10,000 to US$20,000 on your startup, but we only invest
      in startups that are working in Startuplab. We will usually help you on your idea on the
      first few month's to help you build and MVP, polish your business model with customer
      development and tech you how to pitch to investors. After you are ready, we can invest in
      you and help you raise money in New York or Silicon Valley.

    %li.title What is the Silicon Valley Experience ?
    %p.value
      Silicon Valley experience is an event organized by Startuplab.co that happens every year
      during the summer. We rent a house in Silicon Valley an go work there for 1-2 months to meet 
      investors and participate in the Silicon Valley culture. Anyone can apply, regardless of being
      in Startuplab.co, but priority is given to those in Startuplab.co

    %li.title What is pitch night ?
    %p.value
      Pitch night is a weekly event held at Startuplab.co were you can come, pitch your idea and get
      feedback on your pitch. Of course if completely free. Look in the events page for more info.

    %li.title What is open source night ?
    %p.value
      Open Source night is a weekly event held at Startuplab.co were hackers can come an hack on open
      source projects all night. Look in the events page for more info.


