.display_container

  %h1 Rules
  %h2 StartupLab.co Ground Rules & Code of Conduct  
  %p
    Once your application to join StartupLab.co (SL) has been accepted and approved by 
    management, you will be offered a monthly membership which will be renewed each month in 
    advance, and subject to compliance with the following ground rules and code of conduct policies. 

    We want to keep it simple, so this document will be the sole and only agreement 
    between you and StartupLab.co to determine your ongoing membership renewal.
    
  %ol
    %li.title Payment is due on 5 days before the month starts.
    %p.value 
      We have bills to pay, running startuplab doesn't come cheap, so we need everyone
      to pay there dues so we can keep operating.
      %br/
      %span.strong Look we are not looking to get rich out of rent, our goal is just to be self-sustainable.

    %li.title Take excellent care of the space and its resources
    %p.value 
      Everyone should take care of the space, and common resources like if they were yours.
      Everything in Startuplab.co is meant to make your stay as pleasant as possible. We 
      understand accidents might happen, and in those cases we will just ask you to pay for the damages, 
      but if you are careless and irresponsible, then we will have to ask you to leave.
      %br/
      %br/
      %span.strong
        If someone is acting irresponsible, we will request this person to
        leave immediatly, there is zero tolerance in this respect.
        %br/
        \-If you see something getting damaged please report it immediately to contact@startuplab.co

    %li.title Security is a top priority
    %p.value 
      We want everyone to feel at home in Startuplab.co, where you can leave your belongings
      without worrying something might happen to them. That's why we need everyone to help us.
      Respect other people valuables, and take good care of them. You are welcome to have 
      people over, but make sure you know who they are, and please use your best judgement here. 
      %br/
      %br/
      %span.strong
        If someone is acting irresponsible, we will request this person to leave immediatly, 
        there is zero tolerance on this respect.
        %br/
        \- If something gets lost or stolen please report it immediately at contact@startuplab.co


    %li.title No Share, No Gain
    %p.value
      StartupLab promotes team-building, open cross-collaboration and provides a sharing
      space for developing a local entrepreneurship community with valuable ideas and
      knowledge that will flow in every direction. Every member of SL should be willing to
      contribute to their peers with expertise on his/her field (technology, code,
      programming techniques, funding tips, business insight, legal advice, company
      incorporation, networking with Angels/VCs, connections to entrepreneurship centers
      \-such as SV, NY).

      If you feel uncomfortable with this core principle, then SL is not for you. 

    %li.title Product Development Rules
    %p.value
      Over any other aspect of your project. SL members will primary focus on developing
      a marketable product very quickly (or at least a MVP -minimum viable product) and
      test it with target customers (product-market fit) within a short timeline (from 12
      to 16 weeks). SL will provide tools and advice in every way possible so you can be
      effective and very agile in the process of product development. Our on-site
      collaborators, and mentors will be putting a lot of their effort to help you with
      your project, so if they feel that you're dropping the ball in the game, we all

      would be very disappointed and unfortunately we will be forced to not renewing
      your SL membership.
    
    %li.title Think BIG, Execute Globally
    %p.value
      You will discover over time that you would need to invest relatively the same
      amount of time and effort in developing small ideas than big ideas. At SL we
      strongly back BIG ideas and projects, because we want you to really impact the
      world in a positive way, and the only way to do it is if you have dreams bigger
      than yourself and your environment. Hence, if your project is good enough but only
      have a chance to succeed in the local market or has the potential to just becoming
      a small business, then SL is not for you. At SL you will find resources and advice
      at your disposal to help you building high-growth global startups, not life-style
      businesses.

    %li.title Continuous Progression Culture
    %p.value
      Every member of SL should feel responsible for monitoring each other member’s work
      progress. We won't babysit any member about his/her project progress, but if your
      not advancing to accomplish key milestones, we will find out and unfortunately we
      will courteously ask you to leave SL. Our facilitators, collaborators, and on-site
      members will be available to coach you about how to take your idea or
      project to the next level, or even would recommend you to kill your project and
      stop wasting your and other people's time. An online project tracking tool will be 
      provided for each member to post their project status on a weekly basis,
      along with specific help needed form other peers, on-site collaborators or
      external mentors.
   
    %li.title Respect for Ideas, your Peers' Work, and Intellectual Property
    %p.value
      In SL there's a Zero-tolerance policy on Piracy in every of their forms (offline,
      online) or on any type of content (software, music, movies, games, books, etc.).
      All of your work and your peer's work should be considered as private property and
      it will be assumed that it has an intrinsic high market value, so we
      strongly recommend you not to share it to anyone either inside or outside of SL walls,
      without its owner's previous consent or agreement expressed in writing.


    %li.title Embrace Getting Feedback
    %p.value
      Be prepared to received unsolicited feedback about your projects and ideas from
      peers, on-site collaborators and mentors. At SL we strongly encourage members to
      get and give feedback frequently as a way to get involved with everyone else'
      success and to help develop a culture of continuous improvement. Please don't take
      it personally, and feel free to provide feedback to others as well.  
    
    
    %li.title Accountability is Your Friend
    %p.value
      Every member of SL will take sole responsibility on his or her acts. SL
      will not be liable for any damage to third partiy's organizationg,
      partner companies or other members of SL as a result of marketing,
      distributing, selling or testing your product with customers or potential
      partners. However, before you go-live with your product testing we might
      be providing some guidelines and recommendations to avoid any potential
      risk and liability, such as information privacy policies along with
      specific terms & condition you need to take into account before dive into
      the real life waters.

    %li.title Spanish as a Second Language
    %p.value
      Communication is a key aspect to effectively articulate your idea and product to
      potential investors, customers, partners, and future employees. One of the key
      value points of SL is that we want to lay the foundation to prepare our members to
      be successful in launching great startups leveraging from the most renowned
      entrepreneurship's centers from the US (Silicon Valley, NY, Seattle, Boston,
      etc.). For that reason, we encourage our members to communicate in English at all
      times, either in spoken and written form while possible, so you can keep your
      ideas crisp and polished in English and for you to feel ready to pitch them with
      confidence at any time. All of your materials, such as ideas, pitches,
      presentations, prototypes, product's UIs must be developed in English by default.
      Afterwards, if required by other markets or customers, it could be translated and
      localized to other languages. Feel free to communicate in Spanish with your peers
      on SL premises during normal daily activities.

    %li.title Tight is Good, But Be Nice
    %p.value
      SL office space, areas, and common resources (private room, kitchen, bath, printer,
      etc.) are limited. We are aware this could have its pros and cons, so we recommend
      you to be very conscious about effectively utilizing these shared resources. SL
      will provide with an online reservation calendar to reserve the private room on a
      first-come, first-serve basis. This room will be reserved by members only to have
      project group meetings, give customer presentations, or to take business calls with
      mentors, potential partners or investors. The room should be reserved for
      non-consecutive time slots not longer than 60 minutes each (preferably 30 min.
      each), so it could be available to other members as required. If the room is not
      reserved by any other member or collaborator during lunch or dinner hours (12pm to
      2pm or 7pm to 9pm), it could be used to take short breaks. For example, to watch
      the news while you grab a sandwich or a pizza slice with your peers or just to
      relax. In any case, the private room won’t be used by members for private matters,
      such as personal meetings and/or business activities non-related with SL primary
      objectives. The first time you break this rule, and you will get a warning. The
      second time busted and you will have a hard time to renew your stay in SL


    %li.title Keep Your Private Life, Private
    %p.value
      All personal communications and private time should be keep it to yourself,
      basically because probably none cares about your private life and everybody is
      focused on developing his/her project. For that primary reason, we recommend SL
      members to keep all of your personal calls and conversations inside the office at
      minimum possible, for respect to your peers and collaborators. If you need to extend
      your personal phone conversations we recommend you to use out-of-office areas, such
      as building hallways or public restroom. Also, if you like to listen to your music
      loud at all times, please use earphones so you cannot disturb your peer neighbor   
     
    %li.title Doing Well By Doing Good
    %p.value
      It is great that you focus on your project performance, but it would be even
      better if you could achieve fantastic results while you help other members shine
      too. So, if you feel you can give a hand to one of your peers that need it, please
      do it. Equally important is to remain vigilant about compliance of these ground
      rules and code of conduct. If you feel that is right to report something or
      someone incurring in odd or incorrect behaviour, for the benefit of the rest of
      members and to preserve the quality of services and integrity at SL, please do it
      as well.

     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
       
       
       
       
       
       
       
       
