%footer.footer
  .container_footer
    %nav.utility
      %ul
        %li= link_to "Home", index_path
        %li= link_to "Contact us", contact_us_path
        %li= link_to "FAQ", faq_path

    -#=link_to logo, home_path, :class => "footer_logo"

    .copyright
      %p
        The names and logos for startuplab.co are registered trademarks of startuplab.co, LLC.
        %br/
        The names and logos for startuplab.co are trademarks of startuplab.co, LLC.
        %br/
        All text and design is copyright ©2010-2011 startuplab.co, LLC. All rights reserved.

