.container_header
  %header.header
    %h1
      =link_to image_tag("Logo.png", :tiltle=> "startuplab.co", :alt => "startuplab.co", :width => 198, :height => 80), index_path, :class => "logo"
      %em.tag_line 
        lab       
